* {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  line-height: 1.5;
}

nav {
  background-color: #ffcccb;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 1.25em 0;
}

nav ul li {
  padding: 0.5em;
}

nav ul li a {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
