
* {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  line-height: 1.5;
}

img {
  width: 100%;
}

nav {
  background-color: #BFAA8C;
  font-family: 'Poppins', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 1.2em 0;
}

nav ul li {
  padding: 0.5em 1em;
}

nav ul li a {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #000;
}

.hero-banner {
  width: 100%;
  height: 60vh;
  background-image: url(https://cdn.discordapp.com/attachments/921538383141044244/1024588200523608095/chopper.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
}

.intro {
  font-family: 'Poppins', sans-serif;
  padding: 1em;
}

.intro h1 {
  font-weight: normal;
  color: #fff;
  text-align: center;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.flex {
  display: flex;
  gap: 1%;
}

.profile-pic {
  margin: 1.5em 0;
}

.profile-pic > img {
  height: 100%;
  border-radius: 6px
}

.card {
  background-color: #BFAA8C;
  margin: 1.5em 0;
  padding: 1.5em;
  border-radius: 6px;
}

.card h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.card p {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.images h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #BFAA8C;
  text-align: center;
  font-size: 2rem;
}

.images {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em 1.5em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.grid > img {
  height: 100%;
}

footer {
  font-family: 'Poppins', sans-serif;
  background-color: #BFAA8C;
}

footer p {
  margin: 0;
  color: #fff;
  font-weight: normal;
  text-align: center;
}
