* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  line-height: 1.5;
}

nav {
  background-color: #ffcccb;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 1.5em 0;
}
